// bower:scss
// endbower

//frameworks

@import "compass";
@import "../bower_components/gridle/sass/gridle/gridle";


//mixins

@import "settings";
@import "mixins";
@import "color";
@include gridle_generate_classes ();
@include gridle_register_state( "mobile" , null , 500px );
@include gridle_register_state( "tablet" , 501px , 840px );
@include gridle_register_state( "giant" , 1281px , 2500px );

//style

body {
    margin: 0;
}

h3 {
    @include oleo(300, 50px, $yellow, 1.0em);
    @include gridle_state(mobile) {
        font-size: 40px;
    }
    display: inline;
    padding: 0px 10px 0px 10px;
}

.inner-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 90px 0 40px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}




#video_text{
    position:absolute;
    top:60px;
    left: 10%;
    right: 10%;
}

.welcome {
    background: $yellow url('/img/welcome.jpg') no-repeat center center;
    width: 100%;
    height: 700px;
    position: relative;
    display: block;
    z-index: -10;
    #video_background{
        min-height: 100%;
        min-width: 100%;
        background: $yellow url('/img/welcome.jpg') no-repeat center center;
        position: relative;
        background-size: cover;
        display: block;
        z-index: -1000;
        overflow: hidden;
        @include gridle_show();
        @include gridle_hide(mobile tablet);
    }
    #logo {
        background: url('/img/main-logo.png') no-repeat center center;
        height: 187px;
        position: relative;
        padding-top: 160px;
    }
    h1 {
    	@include oleo(300, 63px, #fff, 1em);
    	margin-top: 0;
    	text-shadow: #404040 0 0 8px;
    	@include gridle_state(mobile) {
    		font-size: 35px;
    		line-height: 1em;
    	}
    	@include gridle_state(tablet) {
    		font-size: 44px;
    	}
    }
    h4 {
    	@include open-sans(300, 28px, #fff, center);
    	margin-top: -40px;
    	text-shadow: #404040 0 0 8px;
    	@include gridle_state(tablet) {
    		font-size: 24px;
    		margin-top: -30px;
    	}
    	@include gridle_state(mobile) {
    		font-size: 22px;
    		line-height: 1em;
    		margin-top: -20px;
    	}
    }
}

.titulos {
    display: block;
    text-align: center;
    margin-bottom: 70px;
    @include gridle_state(mobile) {
        margin-bottom: 40px;
    }
}

.decoration {
    @include gridle_hide(mobile);
}

.nosotros {
    background: $light-gray;
    padding: 90px 10px;
    p {
    @include open-sans(400, 21px, $gray, center);
    @include gridle_state(mobile) {
        font-size: 16px;
        }
    }
}

.article {
    @include gridle(6);
    @include gridle(12, mobile);
    margin-bottom: 40px;
    h2 {
        @include gridle_clear(both, tablet mobile);
        @include oleo(300, 30px, $yellow, 1em);
        text-align: left;
        margin-top: 30px;
        margin-bottom: 0;
        @include gridle_state(mobile tablet) {
            text-align: center;
        }
    }
    p {
        @include open-sans(400, 14px, $gray, left);
        @include gridle_state(mobile) {
            text-align: center;
        }
        margin-top: 5px;
    }
    #habitaciones {
        @include img-features('/img/habitaciones.png');
    }
    #gastronomia {
        @include img-features('/img/gastronomia.png');
    }
    #piscina {
        @include img-features('/img/piscina.png');
    }
    #lavanderia {
        @include img-features('/img/lavanderia.png');
    }
}

.btn_galeria {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
	.mostrar {
		@include gridle_hide();
		@include gridle_show(mobile tablet);
		margin-left: auto;
		margin-right: auto;
	}
	.btn {
		@include open-sans(800, 22px, #fff, center);
		@include gridle(12, mobile);
		@include gridle(6, tablet);
		@include gridle_centered(mobile);
		@include transition(0.4s);
		border: 3px solid #fff;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px;
		display: inline;
		margin: 0 5px 15px 5px;
		max-width: 100%;
		border-radius: 5px;
		@include gridle_state(tablet) {
			max-width: 200px;
			background: rgba(0, 0, 0, .40)
		}
		@include gridle_state(mobile) {
			background: rgba(0, 0, 0, .40)
		}
	}
	.btn:hover {
		background: rgba(0, 0, 0, .40)
	}
	.btn:active {
		background: rgba(0, 0, 0, .60)
	}
}

.ayelen {
    clear: both;
    background: #f5f5f5 url('/img/bg-ayelen.jpg') no-repeat center center;
    min-height: 280px;
    background-size: cover;
    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0;
    }
    h3 {
        color: #fff;
        display: block;
        margin: 0;
        margin-bottom: 30px;
    }
}

.features {
    @include gridle(12);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include gridle_centered();
    #familiar {
        @include img-services('/img/1-familiar.png');
    }

    #comodo {
        @include img-services('/img/2-comodo.png');
    }

    #natural {
        @include img-services('/img/3-natural.png');
    }

}

.map {
    background: url('/img/map.jpg') no-repeat center;
    height: 380px;
    @include gridle(7);
    @include gridle(12, mobile);
}

.form {
    @include gridle(5);
    @include gridle(12, mobile);
    padding: 0 20px;
    h4 {
        @include gridle_hide();
        @include gridle_show(mobile);
        @include oleo(300, 35px, $yellow, 0.5em);
    }
    input{
        @include form-reset;
        @include open-sans(400, 13px, $gray, left);
        padding: 5px;
        background-color: $light-gray;
        border: 2px solid $light-gray;
        width: 100%;
        height: 20px;
        margin-bottom: 10px;
    }
    textarea{
        @include form-reset;
        @include open-sans(400, 13px, $gray, left);
        padding: 5px;
        background-color: $light-gray;
        border: 2px solid $light-gray;
        width: 100%;
        height: 210px;
        margin-bottom: 20px;
    }
    button {
        @include open-sans(800, 22px, #fff, center);
        color: #fff;
        background: $yellow;
        border: 2px solid $yellow;
        text-decoration: none;
        padding: 5px;
        display: block;
        margin: 0;
        width: 104%;
        border-radius: 5px;
        @include transition(0.4s);
        &:hover {
            background: none;
            color: $yellow;
            border: 2px solid $yellow;
        }
    }
}

footer {
    background: $yellow;
    clear: both;
    .container {
        padding: 18px 0;
        margin-bottom:-10px;
    }
    .contacto {
        @include gridle(9);
        #ayelen-logo {
            float: left;
            height: 110px;
            position: relative;
            display: block;
        }
        #ayelen-titulo {
            background: url('/img/titulo-footer.png') no-repeat top left;
            margin: 50px 10px 0;
            float: left;
            height: 24px;
            @include gridle_state(tablet) {
                margin-top: 30px;
            }
            @include gridle_state(mobile) {
                margin-top: 15px;
                }
        }
        p {
            @include open-sans(400, 12px, #fff, left);
            font-size: 12px;
            margin: 0 0 0 55px;
            color: #fff;

            &#first {
                margin-top: 76px;
                @include gridle_state(tablet) {
                    margin-top: 60px;
                    }
                @include gridle_state(mobile) {
                    margin-top: 45px;
                    }
            }
            a{
                text-decoration:none;
                color:#eee;
            }
        }
    }
    .redes-sociales{
        @include gridle(3);
        h4 {
            @include oleo(300, 25px, #fff, 1.0em);
            margin-bottom: 0;
            text-align: right;
            @include gridle_hide(mobile tablet);
        }
        ul{
        margin: 5px 0 0 10px;
        display: inline-box;
        }
        li {
        list-style: none;
        }
        a img{
            float: right;
            width: 34px;
            margin-top: 0;
            @include transition(0.25s);
            @include gridle_state(mobile tablet) {
                margin-top: 40px;
            }
        }
        a:hover img{
            opacity: 0.75;
            -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)";
        }
    }
}

.footer-munki {
    background: $gray-footer;
    .container {
        padding: 10px 0;
    }
    p {
        @include open-sans(400, 12px, #fff, right);
        margin: 0;
        @include gridle_state(mobile tablet) {
            text-align: center;
        }
    }
    a img {
        margin-left: 10px;
        @include transition(0.25s);
    }
    a:hover img{
        opacity: 0.75;
        -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)";
    }
}

button.close{
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.alert{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:9000;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align:center;
    @include open-sans(400, 16px, $gray, center);
    &.alert-success{
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
    &.alert-error{
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
    &.alert-dismissable {
        padding-right: 35px;
        .close{
            position: relative;
            top: -12px;
            right: 21px;
            color: inherit;
            margin-right: 20px;
            margin-top: -10px;
        }
    }
}
